# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*~
.DS_Store
workspace.xml
.idea
*.iml
app/config/config.yml
vendor